$body: 'Questrial', sans-serif;
$green: #c9da2b;
$dark: #383e1b;

h1{
 font-size: 60pt;
 text-transform: uppercase;
 text-align: center;
}
h2 {
 font-size: 36pt;
 text-transform: uppercase;
 text-align: center;
}
p {
 font-size: 21pt;
 font-family: $body;
}

.imagefeed p {
 font-size: 14pt;
 padding-left: 1%;
 padding-right: 1%;
 color: white;
 overflow: hidden;
}

.imagefeed h2{
 font-size: 24pt;
 padding-left: 1%;
 padding-right: 1%;
 color: $green;
}


.header{
 position: relative;
 height: 100px;
 margin-bottom: 3%;
}


.logo {
 height: 220px;
 padding-left: 0px;
 padding-top: 0px;
 padding: 10px;
 box-sizing: border-box;
 position: absolute;
}


.line-menu {
  height: 50px;
 width: auto;
 margin-top: 6%;
 margin-right: 2%;
 box-sizing: border-box;
}



nav {
 // clear: both;
 height: 130px;
 width: 70%;
 border-bottom: 3pt solid $green;
 float: right;
 box-sizing: border-box;
 display: inline-block;
 overflow: hidden;
}

.links-bar {
   margin: 0 auto;
   float: right;
   width: 65%;
   padding-top: 8%;
}

li {
 clear: both;
 display: inline-block;
 padding-right: 8%;
 text-align: right;
}

a {
   color: $dark;
}
a:link {
 clear: both;
 text-decoration: none;
 font-size: 28pt;
}

a:hover {
 color: $green;
 // background-color: $dark;

}

a:active {
 color: $green;
}

button a {
 font-size: 12pt;
}

.titlerow {
 height: 60px;
 width: 100%;
 margin: 0 auto;
}

.titlerow p {
 float: right;
 padding-right: 10.5%;
 margin-left: 40%;
 padding-top: 3%;
}

.feedContainer {
 clear: both;
 margin-left: 10%;
 margin-right: 10%;
 margin-top: 2%;
 display: flex;
 flex-wrap: wrap;
 overflow: hidden;
}

.imagefeed {
 height: 290px;
 width: 25%;
 border: 2px solid white;
 box-sizing: border-box;
 position: relative;
}

.imagefeed img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 opacity: none;
}

.image-hover {
 position: absolute;
 top: 0;
 display: none;
 z-index: 100;
 overflow: hidden;
}

.imagefeed:hover .image-hover {
 display: block;
 background: rgba(0, 0, 0, .7);
 width: 100%;
 height: 100%;
}

.imagefeed:hover p {
   margin-left: 5%;
   margin-right: 5%;
   // margin-bottom: 8%;
     overflow: hidden;
}

.imagefeed:hover h2 {
 margin-bottom: 0;
}

#worldmap {

// .BR-content{
//     text-align: center;
//     margin: 0;
//     font-family: $body;
//     background-color: $green;
//     font-size: 21px;
//   }

// .CN-content{
//     @extend .BR-content ;
//   }

  // .trending-content{
  //   @extend .BR-content;
  // }

.logo {
  height: 200px;
  padding-left: 0px;
  padding-top: 0px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  }

.imagefeed {
   height: 290px;
   width: 100%;
}

.imagefeed img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   opacity: none;
}

.image-hover {
   position: absolute;
   top: 0;
   display: none;
   z-index: 100;
   overflow: hidden;
}

.imagefeed:hover .image-hover {
   display: block;
   background: rgba(0, 0, 0, .7);
   width: 100%;
   height: 100%;
}

.imagefeed:hover p {
   margin-left: 5%;
   margin-right: 5%;
// margin-bottom: 8%;
  overflow: hidden;
}

.imagefeed:hover h2 {
  margin-bottom: 0;
}

.map-container {
  // clear: both;
  float: left;
  width: 70%;
  height: 870px;
  overflow: hidden;
  position: absolute;
}

.feedContainer {
  margin-right: 0;
  height: 870px;
  overflow-y: scroll;
  float: right;
  width: 30%;
}

i {
  z-index: 10;
  color: white;
  position: relative;
  font-size: 2em;
}

i:hover{
  color: $green;
}

a:hover {
 color: $green;
 // background-color: $dark;
 border: 1px solid $green;
}

a:active {
 color: $green;
 border: 1px solid green;
}


#chartdiv {
  width: 100%;
  height: 870px;
  }
}

@media (max-width: 767px) {

#worldmap {

.map-container {
  width:100%;
  height: 435px;
  float: none;
  overflow: hidden;
  position: relative;
}

.feedContainer {
  width: 100%;
  height: 435px;
  margin-top: 2%;
}

.logo {
  height: 100px;
}

nav {
  width: 70%;
  margin-bottom: 10px;
  font-size: 26px;
  text-align: center;
}

a:link {
  font-size: 16px;
}
}
}

@media (max-width: 768px-1024px) {

#worldmap {
.map-container {
  width:100%;
  height: 435px;
  float: none;
  overflow: hidden;
  position: relative;
  }

  .feedContainer {
  width: 100%;
  height: 435px;
  margin-top: 2%;
  position: relative;
}

i {
  z-index: 10;
  color: white;
  position: absolute;
}

.logo {
  height: 100px;
}

nav {
  width: 70%;
  margin-bottom: 10px;
  font-size: 26px;
  text-align: center;
}

a:link{
  font-size: 16px;
}
}
}
