h1 {
  font-size: 60pt;
  text-transform: uppercase;
  text-align: center; }

h2 {
  font-size: 36pt;
  text-transform: uppercase;
  text-align: center; }

p {
  font-size: 21pt;
  font-family: "Questrial", sans-serif; }

.imagefeed p {
  font-size: 14pt;
  padding-left: 1%;
  padding-right: 1%;
  color: white;
  overflow: hidden; }

.imagefeed h2 {
  font-size: 24pt;
  padding-left: 1%;
  padding-right: 1%;
  color: #c9da2b; }

.header {
  position: relative;
  height: 100px;
  margin-bottom: 3%; }

.logo {
  height: 220px;
  padding-left: 0px;
  padding-top: 0px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute; }

.line-menu {
  height: 50px;
  width: auto;
  margin-top: 6%;
  margin-right: 2%;
  box-sizing: border-box; }

nav {
  height: 130px;
  width: 70%;
  border-bottom: 3pt solid #c9da2b;
  float: right;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden; }

.links-bar {
  margin: 0 auto;
  float: right;
  width: 65%;
  padding-top: 8%; }

li {
  clear: both;
  display: inline-block;
  padding-right: 8%;
  text-align: right; }

a {
  color: #383e1b; }

a:link {
  clear: both;
  text-decoration: none;
  font-size: 28pt; }

a:hover {
  color: #c9da2b; }

a:active {
  color: #c9da2b; }

button a {
  font-size: 12pt; }

.titlerow {
  height: 60px;
  width: 100%;
  margin: 0 auto; }

.titlerow p {
  float: right;
  padding-right: 10.5%;
  margin-left: 40%;
  padding-top: 3%; }

.feedContainer {
  clear: both;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; }

.imagefeed {
  height: 290px;
  width: 25%;
  border: 2px solid white;
  box-sizing: border-box;
  position: relative; }

.imagefeed img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: none; }

.image-hover {
  position: absolute;
  top: 0;
  display: none;
  z-index: 100;
  overflow: hidden; }

.imagefeed:hover .image-hover {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%; }

.imagefeed:hover p {
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden; }

.imagefeed:hover h2 {
  margin-bottom: 0; }

#worldmap .imagefeed {
  height: 290px;
  width: 100%; }
#worldmap .imagefeed img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: none; }
#worldmap .image-hover {
  position: absolute;
  top: 0;
  display: none;
  z-index: 100;
  overflow: hidden; }
#worldmap .imagefeed:hover .image-hover {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%; }
#worldmap .imagefeed:hover p {
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden; }
#worldmap .imagefeed:hover h2 {
  margin-bottom: 0; }
#worldmap .map-container {
  float: left;
  width: 70%;
  height: 870px;
  overflow: hidden;
  position: absolute; }
#worldmap .feedContainer {
  margin-right: 0;
  height: 870px;
  overflow-y: scroll;
  float: right;
  width: 30%; }
#worldmap i {
  z-index: 10;
  color: white;
  position: relative;
  font-size: 2em; }
#worldmap #chartdiv {
  width: 100%;
  height: 870px; }

@media (max-width: 767px) {
  #worldmap .map-container {
    width: 100%;
    height: 435px;
    float: none;
    overflow: hidden;
    position: relative; }
  #worldmap .feedContainer {
    width: 100%;
    height: 435px;
    margin-top: 2%; }
  #worldmap .logo {
    height: 100px; }
  #worldmap nav {
    width: 70%;
    margin-bottom: 10px;
    font-size: 26px;
    text-align: center; }
  #worldmap a:link {
    font-size: 16px; } }
@media (max-width: -256px) {
  #worldmap .map-container {
    width: 100%;
    height: 435px;
    float: none;
    overflow: hidden;
    position: relative; }
  #worldmap .feedContainer {
    width: 100%;
    height: 435px;
    margin-top: 2%;
    position: relative; }
  #worldmap i {
    z-index: 10;
    color: white;
    position: absolute; }
  #worldmap .logo {
    height: 100px; }
  #worldmap nav {
    width: 70%;
    margin-bottom: 10px;
    font-size: 26px;
    text-align: center; }
  #worldmap a:link {
    font-size: 16px; } }

/*# sourceMappingURL=style.css.map */
